[submodule "precio_en_dolares"]
	path = precio_en_dolares
	url = https://github.com/humanytek-team/precio_en_dolares
[submodule "partner_credit"]
	path = partner_credit
	url = https://github.com/humanytek-team/partner_credit
[submodule "ideas_daily_sales_report"]
	path = ideas_daily_sales_report
	url = https://github.com/humanytek-team/ideas_daily_sales_report
[submodule "acc_formats_ideas"]
	path = acc_formats_ideas
	url = https://github.com/humanytek-team/acc_formats_ideas
[submodule "sale_formats_ideas"]
	path = sale_formats_ideas
	url = https://github.com/humanytek-team/sale_formats_ideas
[submodule "purchase_formats_ideas"]
	path = purchase_formats_ideas
	url = https://github.com/humanytek-team/purchase_formats_ideas
[submodule "so_validate_price_unit"]
	path = so_validate_price_unit
	url = https://github.com/humanytek-team/so_validate_price_unit
